<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nono Ravioli - Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/nonoravioli.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed:wght@100..900&display=swap"
        rel="stylesheet">
    <script src="{{url_for('static', filename = 'scriptPost.js')}}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link href="{{url_for('static', filename = 'styles.css')}}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo-nombre">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/NonoRavioli.png') }}">
            </div>

            <div class="titulo">
                <h1>Nono Ravioli</h1>
                <h2>Fabrica de Pastas Artesanales</h2>
            </div>
        </div>

        <div class="container ">
            <nav class="nav">
                <ul class="lista-horiz">
                    <li><a href="{{url_for('mostrar_index') }}">Inicio</a></li>
                    <li><a href="{{url_for('mostrar_historia') }}">Nuestra Historia</a></li>
                    <li><a href="{{url_for('mostrar_productos') }}">Nuestros Productos</a></li>
                    <li><a href="{{url_for('mostrar_tienda') }}">Tienda</a></li>
                    <li><a href="{{url_for('mostrar_sucursales') }}">Sucursales</a></li>
                    <li><a href="{{url_for('mostrar_formulario') }}">¿Queres trabajar con nosotros?</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <!-- productos -->
        <div class="productos-flex">
            <div>
                <h2 class="tipo-pasta">Pastas Secas</h2>
                <div>
                    <p>Tallarines</p>
                </div>
                <div class="producto">
                    <img src="{{ url_for('static', filename='img/pastasecalarga.jpg') }}" alt="Tallarines">
                </div>

                <div>
                    <p>Fideos moño</p>
                </div>
                <div class="producto">
                    <img src="{{ url_for('static', filename='img/fideosmonio.jpg') }}" alt="Moño">
                </div>

                <div>
                    <p>Fideos tirabuzon</p>
                </div>
                <div class="producto">
                    <img src="{{ url_for('static', filename='img/fideotirabuzon.jpg') }}" alt="Tirabuzon">
                </div>
            </div>
            <div>
                <h2 class="tipo-pasta">Pastas rellenas</h2>
                <div>
                    <p>Ravioles</p>
                </div>
                <div class="producto">
                    <img src="{{ url_for('static', filename='img/ravioles.jpg') }}" alt="Ravioles">
                </div>

                <div>
                    <p>Sorrentinos</p>
                </div>
                <div class="producto">
                    <img src="{{ url_for('static', filename='img/sorrentinos.jpg') }}" alt="Sorrentinos">
                </div>

                <div>
                    <p>Canelones</p>
                </div>
                <div class="producto">
                    <img src="{{ url_for('static', filename='img/canelones.jpg') }}" alt="Canelones">
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="copyright">
            <p>Todos los derechos reservados de &copy;NonoRavioli.</p>
        </div>
    </footer>



















</body>

</html>