<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nono Ravioli - Nuestra Historia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/nonoravioli.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed:wght@100..900&display=swap"
        rel="stylesheet">
        <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        <script src="{{ url_for('static', filename='scriptPost.js') }}"></script>
</head>
<body>
        <header>
        <div class="logo-nombre">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/NonoRavioli.png') }}">
            </div>

            <div class="titulo">
                <h1>Nono Ravioli</h1>
                <h2>Fabrica de Pastas Artesanales</h2>
            </div>
        </div>

        <div class="container ">
            <nav class="nav">
                <ul class="lista-horiz">
                    <li><a href="{{url_for('mostrar_index')}}">Inicio</a></li>
                    <li><a href="{{url_for('mostrar_historia')}}">Nuestra Historia</a></li>
                    <li><a href="{{url_for('mostrar_productos')}}">Nuestros Productos</a></li>
                    <li><a href="{{url_for('mostrar_tienda')}}">Tienda</a></li>
                    <li><a href="{{url_for('mostrar_sucursales')}}">Sucursales</a></li>
                    <li><a href="{{url_for('mostrar_formulario')}}">¿Queres trabajar con nosotros?</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container mt-5">
            <div class="imagenNosotros">
            
                <div class="overlay-text nosotros">
                    <p>En el corazón de cada plato de pasta que elaboramos en Nono Ravioli, hay una historia que comienza hace más de cinco décadas, en la cocina de una pequeña casa familiar. Fue allí donde Giuseppe “Nono” Ravioli, un inmigrante italiano con manos curtidas por el trabajo y alma llena de recetas heredadas, comenzó a dar forma a lo que hoy es una tradición que sigue viva.</p>

                    <p>Nono Giuseppe llegó desde un pueblito de la Toscana con una maleta, una máquina de pasta y un sueño: compartir los sabores de su infancia con su nueva comunidad. Cada domingo, su hogar se llenaba del aroma del ragú cocinándose a fuego lento, del sonido de la harina siendo mezclada con huevos frescos, y de la risa de hijos y nietos reunidos alrededor de la mesa.</p>

                    <p>Lo que empezó como una tradición familiar, pronto conquistó a vecinos, amigos y conocidos. Con el tiempo, y siempre fiel a sus raíces, Nono Ravioli se transformó en una pequeña fábrica artesanal, donde la pasión por la buena pasta y el respeto por los ingredientes naturales siguen siendo el alma de todo lo que hacemos.</p>

                    <p>Hoy, varias generaciones después, seguimos elaborando nuestras pastas con la misma dedicación y cariño con los que Nono lo hacía. Cada raviol, tallarín o sorrentino lleva impreso el legado de una familia que cree en el valor del trabajo bien hecho, en los sabores de siempre y en el amor que se transmite a través de la cocina.</p>

                    <p>Nono Ravioli no es solo una fábrica de pastas. Es una historia de familia, esfuerzo y sabor que queremos compartir con cada plato.</p>
                </div>
            </div>
        </div>

    <footer class="footer">
        <div class="copyright">
            <p>Todos los derechos reservados de &copy;NonoRavioli.</p>
        </div>
    </footer>

</body>
</html>