<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="../static/scriptPost.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../bootstrap/js/bootstrap.bundle.min.js"></script>
    <title>Enviado con Exito!</title>
</head>
<body>
     <div class="container">
    <h2>¡Gracias!</h2>
    <p>Tu postulación fue enviada correctamente.</p>
    <a href="/">Volver al inicio</a>
  </div>
   
</body>
</html>