<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nono Ravioli - Sucursales</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/normalize.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/nonoravioli.ico') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed:wght@100..900&display=swap"
        rel="stylesheet">
    <script src="{{url_for('static', filename = 'scriptPost.js')}}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link href="{{url_for('static', filename = 'styles.css')}}" rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo-nombre">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/NonoRavioli.png') }}">
            </div>

            <div class="titulo">
                <h1>Nono Ravioli</h1>
                <h2>Fabrica de Pastas Artesanales</h2>
            </div>
        </div>

        <div class="container ">
            <nav class="nav">
                <ul class="lista-horiz">
                    <li><a href="{{url_for('mostrar_index')}}">Inicio</a></li>
                    <li><a href="{{url_for('mostrar_historia')}}">Nuestra Historia</a></li>
                    <li><a href="{{url_for('mostrar_productos')}}">Nuestros Productos</a></li>
                    <li><a href="{{url_for('mostrar_tienda')}}">Tienda</a></li>
                    <li><a href="{{url_for('mostrar_sucursales')}}">Sucursales</a></li>
                    <li><a href="{{url_for('mostrar_formulario')}}">¿Queres trabajar con nosotros?</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">

        <div class="sucursales">
            <h2>Nuestas Sucursales<h2>
            <h3>Nos encontras en...</h3>
            
            <div class="sucursales-grid">
                
                <div class="sucursal">
                    <div>
                        <h4>Rosario Centro - Casa Central</h4>
                    </div>
                    
                    <div class="sucursal-flex">
                        <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3347.830017608691!2d-60.634898023567324!3d-32.95549697233712!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab03bb160f87%3A0x99d4f44ad59f39b2!2s9%20de%20Julio%20551%2C%20S2000BNK%20Rosario%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1751319997961!5m2!1ses!2sar"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                        
                        <div class="parrafo-sucursal">
                            <p>9 de Julio 551</p>
                            <p>Rosario - Santa Fe</p>
                            <p>Teléfono: 341 4589822</p>
                            <img src="{{url_for('static', filename = 'img/whatsapp.svg')}}" alt="Whatsapp"> 9 341 4589822</img><br>
                            <img src="{{url_for('static', filename = 'img/instagram.svg')}}" alt="Instagram"> nonoravioli</img>
                            <p>
                                Email: <a href="mailto:sucursalcentro@nonoravioli.com.ar?Subject=Pedido%20Sucursal%20Centro">sucursalcentro@nonoravioli.com.ar</a>
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="sucursal">
                    <div>
                        <h4>Rosario Sur</h4>
                    </div>
                    
                    <div class="sucursal-flex">
                        <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3346.564412320632!2d-60.6505948297713!3d-32.98889214947286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7abc128296859%3A0x50a03b51b9087307!2sAv.%20San%20Mart%C3%ADn%204410%2C%20S2000%20Rosario%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1751311877115!5m2!1ses!2sar"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                        
                        <div class="parrafo-sucursal">
                            <p>Av. San Martin 4410</p>
                            <p>Rosario - Santa Fe</p>
                            <p>Teléfono: 341 4589549</p>
                            <img src="{{url_for('static', filename = 'img/whatsapp.svg')}}" alt="whatsapp"> 9 341 4589822
                            <p>
                                Email: <a
                                href="mailto:sucursalsur@nonoravioli.com.ar?Subject=Pedido%20Sucursal%20Sur">sucursalsur@nonoravioli.com.ar</a>
                            </p>
                        </div>
                    </div>
                </div>
                
                <div class="sucursal">
                    <div>
                        <h4>Casilda</h4>
                    </div>
                    
                    <div class="sucursal-flex">
                        <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6688.692709851715!2d-61.172532154280766!3d-33.04734721168341!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b62d482ed16327%3A0x8a62aeee9b1990fd!2sSarmiento%201703%2C%20S2170%20Casilda%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1751312367121!5m2!1ses!2sar"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                        
                        <div class="parrafo-sucursal">
                            <p>Sarmiento 1703</p>
                            <p>Casilda - Santa Fe</p>
                            <p>Teléfono: 3464 435742</p>
                            <img src="{{url_for('static', filename = 'img/whatsapp.svg')}}" alt="whatsapp"> 9 3464 435742
                        </div>
                    </div>
                </div>
                
                <div class="sucursal">
                    <div>
                        <h4>San Lorenzo</h4>
                    </div>
                    
                    <div class="sucursal-flex">
                        <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3355.790358543907!2d-60.73836272357519!3d-32.74475696172175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b65ae3a75e8a6f%3A0xb39605c8aa7d7904!2sSalta%20758%2C%20S2200CRN%20San%20Lorenzo%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1751312214908!5m2!1ses!2sar"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                        
                        <div class="parrafo-sucursal">
                            <p>Salta 758</p>
                            <p>San Lorenzo - Santa Fe</p>
                            <p>Teléfono: 3676 238795</p>
                            <img src="{{url_for('static', filename = 'img/whatsapp.svg')}}" alt="whatsapp"> 9 3676 238795
                        </div>
                    </div>
                </div>
                
                <div class="sucursal">
                    <div>
                        <h4>Arroyo Seco</h4>
                    </div>
                    
                    <div class="sucursal-flex">
                        <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3340.0837570542976!2d-60.513978371068006!3d-33.159427908638044!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b70b95706d3b93%3A0xebd96141cfbf804!2s9%20de%20Julio%20112%2C%20S2128%20Arroyo%20Seco%2C%20Santa%20Fe!5e0!3m2!1ses!2sar!4v1751311741944!5m2!1ses!2sar"
                        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                        
                        <div class="parrafo-sucursal">
                            <p>9 de Julio 112</p>
                            <p>Rosario - Santa Fe</p>
                            <p>Teléfono: 3402 356568</p>
                            <img src="{{url_for('static', filename = 'img/whatsapp.svg')}}" alt="whatsapp"> 9 3402 356568
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <footer class="footer">
        <div class="copyright">
            <p>Todos los derechos reservados de &copy;NonoRavioli.</p>
        </div>
    </footer>
        
    </body>
    
    </html>